<ul nz-menu nzMode="horizontal">
    <li nz-menu-item nzSelected>
        <span nz-icon nzType="home"></span>
        <a routerLink="/">Pagina de start</a>
    </li>
    <li nz-menu-item>
        <span nz-icon nzType="eye"></span>
        <a routerLink="/view-users">Vizualizare utilizatori</a>
    </li>
    <li nz-menu-item>
        <span nz-icon nzType="user-add"></span>
        <a routerLink="/add-user">Adauga utilizator</a>
    </li>
    <li nz-menu-item>
        <span nz-icon nzType="search"></span>
        <a routerLink="/find-user">Cauta utilizator</a>
    </li>
  </ul>